.card-grid{
   display: flex;
   flex-direction: column;
    border: 1px solid white;
    
    
.image-container{
    width: 100%;
    height: 200px;
    img{
        height: 100%;
        width: 100%;      
        object-fit: cover;
        

    }
}
    
    button{
        display: block;
        width: 50%;
        margin: auto;
    }
}