body
{
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 40px;
    justify-items: center;
}
