.image-card {
    background-color: black;
    border: 2px solid white;
    padding: 10px;
    color: white;
    width: 100%;
    border-radius: 12px;
    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 12px;
    }

}


